{{#with user}}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>Welcome {{username}}</p>
    </div>
    {{/with}}

  </div>
</div>


<hr>

<div class="container marg-top">
  <div class="row">
    <div class="col-md-4">


      <label for="place-input">
        <h3>Enter City</h3>
      </label>
      <input class="form-control form-width" id="place-input" type="text" name="place" placeholder="City">
      <br><br>
      <label for="form-control form-width">
        <p>What are you looking for?</p>
      </label>

      <select name="select" class="form-control form-width" id="select-option">
        <option value='hotel'>Hotels</option>
        <option value='restaurant'>Restaurants</option>
        <option value='cinema'>Cinemas</option>
        <option value='hospital'>Hospitals</option>
      </select>
      <br><br>
      <button id="search" class="btn btn-sm btn-dark acc-btn form-width" type="submit">Search</button>




    </div>
    <div class="col-md-8">
      <figure id="map"></figure>
    </div>
  </div>
</div>
{{!-- {{#each user.search_id}}
{{this.place}}
{{/each}} --}}
{{!-- <div class="col-md-4 marg-bot">

      <label for="">
        <p>Your searches</p>
      </label>
      <select name="prev-select-city" class="form-control previous-searches" id="select-prev-city"
        aria-placeholder="Select">

        {{#each user.search_id}}
        <option value='{{this.zone}}'>{{this.zone}}</option>
        {{/each}}

      </select>
      <select name="prev-select-business" class="form-control previous-searches" id="select-prev-business">

        {{#each user.search_id}}
        <option value='{{this.place}}'>{{this.place}}</option>
        {{/each}}

      </select>
    </div>
    <button id="previous-search" type="submit" class="btn btn-dark search-prev-btn marg-left">Search</button> --}}